openapi: 3.0.0
info:
  title: The Tunes
  version: 1.0.0
servers:
  - url: https://eclipse.herobuxx.me
paths:
  /api/ticket:
    post:
      summary: Create ticket
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                artistid:
                  type: string
                title:
                  type: string
                price:
                  type: number
                location:
                  type: string
                date:
                  type: string
                description:
                  type: string
      responses: {}
    get:
      summary: Get All Ticket
      responses: {}
  /api/ticket/{ticketId}:
    get:
      summary: Get Ticket by ID
      parameters:
        - name: ticketId
          in: path
          required: true
          schema:
            type: string
      responses: {}
  /api/order/create:
    post:
      summary: Create Ticket Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ticketid:
                  type: string
      security:
        - BearerAuth: []
      responses: {}
  /api/order:
    get:
      summary: Get All Orders
      responses: {}
  /api/order/get:
    get:
      summary: Get Orders By ID
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses: {}
  /api/order/done:
    post:
      summary: Confirm Order
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses: {}
  /api/order/cancel:
    post:
      summary: Cancel Order
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses: {}
  /api/order/count:
    get:
      summary: Count All Orders
      responses: {}
  /api/order/count/{uuid}:
    get:
      summary: Count Orders by UUID
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      responses: {}
  /api/user:
    post:
      summary: Register User
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses: {}
    get:
      summary: Get All user
      responses: {}
  /api/login/auth:
    post:
      summary: Login / Generate Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses: {}
  /api/auth/id:
    get:
      summary: Get UUID by Token
      security:
        - BearerAuth: []
      responses: {}

securitySchemes:
  BearerAuth:
    type: http
    scheme: bearer
    bearerFormat: string
